.brand{
    margin-left: 40px;
    /* border: 5px solid red; */
}

.nav-text{
    margin: 0px 20px;
    color: black;
}

.custom-btn{
    color: white;
    background-color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    outline: none;
}

.custom-btn:focus{
    outline: none;
}

.banner{
    background-image: url('../../images/bannerbackground.png');
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
}

.banner{
    text-align: center;
    padding-top: 250px;
}

.banner input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    outline: none;
    width: 400px;
}